body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 0 200px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

ul {
    list-style: none;
}

a, .text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 100px 200px;
    gap: 40px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 5px;
}

.hero-text {
    width: 450px;
}

.text {
    margin-bottom: 10px;
}

.hero-button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

.hero-image {
    background-color: #8c939d;
    padding: 100px 130px;
    color: #e5e7eb;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.information{
    background-color:#f9faf8;
    padding: 50px;
    text-align: center;
}

.information > h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 0;
}

.card-container {
    display: flex;
    gap: 50px;
    padding: 50px 200px;
    justify-content: center;
}

.card {
    max-width: 178px;
}

.card > .text {
    color: #515e70;
    padding-top: 10px;
}

.card-image {
    border: 4px solid #3882f6;
    width: 160px;
    height: 160px;
    border-radius: 20px;
    margin-right: 0;
}

.quote {
    background-color: #e5e7eb;
    padding: 125px 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.author {
    color: #1f2937;
    font-weight: 700;
    font-size: 24px;
}

.call-to-action {
    background-color: #3882f6;
    margin: 120px 200px;
    padding: 60px 140px;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
}

.call-text {
    min-width: 300px;
}

.call-header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.call-info {
    font-size: 18px;
    color: #e5e7eb;
}

.call-button {
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 0 40px;
    width: 150px;
    height: 46px;
    flex-shrink: 0;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 40px;
}